.container-halaman-utama{
    background: url('../../../assets/bg-body/bg-halaman-utama.jpg');
    padding-top: 40px;
    width: 100%;
    height: 700px;
}
.halaman-utama{
    background-color: whitesmoke;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 4px;
    height: 600px;
    box-shadow: 2px 3px 2px black;
    transition: all ease 0.35s;
}
.halaman-utama:hover{
    transform: translateX(6px);
}
.container-halaman-utama .judul-halaman-utama h3{
    padding-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #234B6D;
    margin-left: 20px;
    font-size: 30px;
}
.isi-halaman-utama p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}
.gambar-portopolio-halaman-utama img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-style: solid;
    border-color: #234B6D;
    margin-left: 20px;
    box-shadow: 1px 4px 10px black;
}
/* .bg-halaman-utama{
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 4px;
    height: 600px;
    background-color: rgb(0, 255, 179);
} */
@media screen and (max-width:600px){
    .container-halaman-utama{
        width: auto;
        height: 800px;
    }
    .halaman-utama{
        background-color: whitesmoke;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 4px;
        height: 750px;
        box-shadow: 2px 3px 2px black;
    }
    .halaman-utama:hover{
        transform: none;
    }
    .gambar-portopolio-halaman-utama img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
    .isi-halaman-utama p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
