.container-halaman-skills{
    /* padding-top: 100px; */
    background: url('../../../assets/bg-body/bg-halaman-about.jpg');
    height: 1100px;
    margin-top: 430px;
}
.halaman-skills{
    background-color: whitesmoke;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 4px;
    height: auto;
    box-shadow: 2px 3px 2px black;
    transition: all ease 0.35s;
    padding-bottom: 70px;
}
.halaman-skills:hover{
    transform: translateX(6px);
}
.halaman-skills img{
    width: 200px;
    height: 192px;
    border-radius: 100%;
    border-style: solid;
    margin-left: 30px;
    border-color:  #234B6D;
    box-shadow: 1px 4px 10px black;
    margin-bottom: 100px;
}
.container-halaman-skills .judul-halaman-skills h3{
    padding-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #234B6D;
    margin-left: 20px;
    font-size: 30px;
}
.isi-halaman-skills p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 2px;
    /* padding-bottom: 10px; */
}
.kotak-css{
    width: 40px;
    height: 30px;
    background-color: aqua;
    border-color: black;
    border: solid;
    border-width: 2px;
    float: left;
    margin-right: 5px;
}
.container-isi-skill{
    margin-left: 20px;
}
.isi-halaman-skills .skils-css{
    font-size: 29px;
}
.isi-halaman-skills .tulisan-css{
    font-size: 30px;
    margin-top: -20px;
    margin-bottom: 29px;
}
@media screen and (max-width: 600px){
    .container-halaman-skills{
        width: auto;
        height: 900px;

    }
    .halaman-skills{
        background-color: whitesmoke;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 4px;
        height: auto 1px;
        box-shadow: 2px 3px 2px black;
        height: auto;
        margin-top: -90px;
        padding-bottom: 10px;
    }
    .halaman-skills:hover{
        transform: none;
    }
    .halaman-skills img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
    .kotak-css{
        width: 2px;
        height: 20px;
    }
    .isi-halaman-skills .skils-css{
        font-size: 18px;
    }
}
