.home-mobile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    float: left;
    margin-left: 53px;
}
.about-mobile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    float: left;
    margin-left: 16px;
}
.kontak-mobile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-style: solid;
    border-color:white;
    float: left;
    margin-left: 16px;
}
.skills-mobile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-style: solid;
    border-color:black;
    float: left;
    margin-left: 17px;
}
footer{
    width: 100%; 
    clear: both;
    overflow: hidden;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: -500px;
    /* padding-top: 2px; */
    color: white;
    background-color: #234B6D;
    text-align: center;
    font-weight: bold;
    font-family: 'Century Gothic';
}
@media screen and (max-width:600px){
    footer{
        margin-bottom: 54px;
    }
}