.home-mobile{
    width: 40px;
    height: 40px;
    /* border-radius: 100%; */
    /* border-style: solid; */
    /* border-color: black; */
    float: left;
    margin-left: 55px;
}
.about-mobile{
    width: 40px;
    height: 40px;
    /* border-radius: 100%;
    border-style: solid;
    border-color: white; */
    float: left;
    margin-left: 18px;
}
.kontak-mobile{
    width: 40px;
    height: 40px;
    /* border-radius: 100%;
    border-style: solid;
    border-color:white; */
    float: left;
    margin-left: 18px;
}
.skills-mobile{
    width: 40px;
    height: 40px;
    /* border-radius: 100%;
    border-style: solid;
    border-color:black; */
    margin-top: 5px;
    float: left;
    margin-left: 19px;
    /* box-shadow: 2px 3px 5px black; */
}
i{
    box-shadow: 2px 4px 5px black;
    border-radius: 100%;

}
footer{
    width: 100%; 
    clear: both;
    overflow: hidden;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: -500px;
    /* padding-top: 2px; */
    color: white;
    background-color: #234B6D;
    text-align: center;
    font-weight: bold;
    font-family: 'Century Gothic';
}
@media screen and (max-width:600px){
    footer{
        margin-bottom: 54px;
    }
}