.container-halaman-about{
    padding-top: 2px;
    background: url('../../../assets/bg-body/bg-halaman-about.jpg');
    height: 700px;
}
.halaman-about{
    background-color: whitesmoke;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 4px;
    height: 600px;
    box-shadow: 2px 3px 2px black;
    transition: all ease 0.35s;
}
.halaman-about:hover{
    transform: translateX(6px);
}
.halaman-about img{
    width: 200px;
    height: 192px;
    border-radius: 100%;
    border-style: solid;
    margin-left: 30px;
    border-color:  #234B6D;
    box-shadow: 1px 4px 10px black;
}
.container-halaman-about .judul-halaman-about h3{
    padding-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #234B6D;
    margin-left: 20px;
    font-size: 30px;
}
.isi-halaman-about p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}
@media screen and (max-width: 600px){
    .container-halaman-about{
        width: auto;
    }
    .halaman-about{
        background-color: whitesmoke;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 4px;
        height: auto 1px;
        box-shadow: 2px 3px 2px black;
    }
    .halaman-about:hover{
        transform: none;
    }
    .halaman-about img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
}
